body {
	font-family: 'Open Sans', sans-serif;
}

.navbar {
	background-color: #ef2d56;
}

h2 {
	color: white;
	font-family: 'RocknRoll One', sans-serif;
}

.btn {
	color: white;
}

#goal-container {
	background-color: #ffc107;
}

#activities-container {
	background-color: #8CD867;
}

.progress {
    border-radius: 1rem;
}

#flag {
	position: relative;
}

.vl {
  border-left: 6px solid green;
  height: 75px;
  position: absolute;
  bottom: -18px;
}

.goal-flag {
	background-color: green;
	border-radius: 1em 0 0 1em;
	height: fit-content;
	top: -70px;
}

#goal-cost {
	margin-bottom: 0px;
	color: white;
	font-size: 1.5rem;
	font-family: 'RocknRoll One', sans-serif;
}

@keyframes piggy-rocking {
  0% {
    transform: rotate(-0.005turn);
  }
  50% {
    transform: rotate(-0.02turn);
  }
  100% {
    transform: rotate(-0.005turn);
  }
}

#running-piggy {
  animation: piggy-rocking 2s ease-in infinite;
}