body {
	font-family: 'Open Sans', sans-serif;
}

.navbar {
	background-color: #ef2d56;
}

h2 {
	color: white;
	font-family: 'RocknRoll One', sans-serif;
}

.btn {
	color: white;
}

#goal-container {
	background-color: #ffc107;
}

#activities-container {
	background-color: #8CD867;
}